@import java.util.Date
@(tx: FullFilledTransaction)
@content_main {
<div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="@routes.HomeController.index()">
                Transaction Info</a>
        </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8"></div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="row mt-5">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <h3 class="mb-0">Transaction Info</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <tbody>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">Id</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    @tx.transaction.id
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">Fee</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    @tx.transaction.fee
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">Is CoinBase</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    @tx.transaction.isCoinbase
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">Timestamp</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    @{
                                    new Date(tx.transaction.timestamp).format("yyyy-MM-dd HH:mm:ss")
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">Proof</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    @tx.transaction.defaultProofOpt
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Table -->
        <div class="row mt-5">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <h3 class="mb-0">Transaction Inputs</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Input ID</th>
                                <th scope="col">Input contract hash</th>
                                <th scope="col">Input proofs</th>
                            </tr>
                            </thead>
                            <tbody>
                            @for(input <- tx.inputs) {
                            <tr>
                                <td>
                                                <span class="badge badge-dot mr-4">
                                                @input.bxId
                                                </span>
                                </td>
                                <td>
                                                <span class="badge badge-dot mr-4">
                                                @tx.contract.map(_.hash).mkString(",")
                                                </span>
                                </td>
                                <td>
                                                <span class="badge badge-dot mr-4">
                                                @input.proofs
                                                </span>
                                </td>
                            </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Table -->
        <div class="row mt-5">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <h3 class="mb-0">Transaction Outputs</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Output ID</th>
                                <th scope="col">Output value</th>
                                <th scope="col">Output coin</th>
                                <th scope="col">Output contract hash</th>
                                <th scope="col">Recipient address</th>
                                <th scope="col">Output data</th>
                            </tr>
                            </thead>
                            <tbody>
                            @for(output <- tx.output) {
                            <tr>
                                <td>
                                                <span class="badge badge-dot mr-4">
                                                @output.id
                                                </span>
                                </td>
                                <td>
                                                <span class="badge badge-dot mr-4">
                                                @output.value
                                                </span>
                                </td>
                                <td>
                                                <span class="badge badge-dot mr-4">
                                                @{
                                                    if(output.tokenId == "487291c237b68dd2ab213be6b5d1174666074a5afab772b600ea14e8285affab")
                                                    "Encry Coin" else output.tokenId
                                                }
                                                </span>
                                </td>
                                <td>
                                                <span class="badge badge-dot mr-4">
                                                @output.proposition.contractHash
                                                </span>
                                </td>
                                <td>
                                                <span class="badge badge-dot mr-4">
                                                @output.minerAddress
                                                </span>
                                </td>
                                <td>
                                                <span class="badge badge-dot mr-4">
                                                @output.data
                                                </span>
                                </td>
                            </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer">
            <div class="row align-items-center justify-content-xl-between">
                <div class="col-xl-6">
                    <div class="copyright text-center text-xl-left text-muted">
                        &copy; 2018 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">
                        Creative Tim</a>
                    </div>
                </div>
                <div class="col-xl-6">
                    <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                        <li class="nav-item">
                            <a href="https://www.creative-tim.com" class="nav-link" target="_blank">
                                Creative Tim</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">
                                About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">
                                MIT License</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</div>
}